**/.DS_Store

**/bin/**
**/obj/**
**/.idea/**

**/.vscode/**

**/data/**

apple-music-animated-artworks/cache_database.json
apple-music-animated-artworks/cache_database.json.bak
apple-music-animated-artworks/metadata_resolution_cache.json
apple-music-animated-artworks/metadata_resolution_cache.json.bak
